p	{
	font-family: 'Libre Franklin', sans-serif;	
    font-size: 0.9em;
    right: 10vw;
}
.crossLink	{
	font-family: 'Libre Franklin', sans-serif;	
    font-size: 0.7em;
    right: 10vw;
}
.flashes	{
	font-family: 'Libre Franklin Extra Bold', sans-serif;	
    font-size: 0.8em;
    color: red;
}