<!DOCTYPE html>
<html lang="en" ng-app='Visit_App' ng-controller="mainController">
<head>

<!-- Designed by Mario Caiti	-->

<title>Visualize It! (for angular JS)</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">		<!-- for bootstrap scaling-->

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.min.js" type="text/javascript">
</script>																									<!-- declare angular	-->
<script src="maincontroller.js" type="text/javascript"></script>				<!-- root controller	-->
<script src="plan.js" type="text/javascript"></script>								<!-- and the plan class file	-->
<link href="/cgi-bin/bootstrap/css/bootstrap.min.css" rel="stylesheet">			<!-- declare bootstrap in bootstrap/css/ when live-->
<link href="visIt_angular.css" rel="stylesheet">												<!-- my custom CSS, rewrite in Sass or SCSS? -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
</head>
<body>
<script src="//code.jquery.com/jquery-1.10.2.js"></script>						<!-- jQuery is required for Bootstrap JS	-->
<script src="/cgi-bin/bootstrap/js/bootstrap.min.js"></script>					<!-- declare bootstrap JS for modal below -->
<header id="myHeader" class="row, col-lg-12 col-md-12 col-sm-12 col-xs-12">
	<div class="row, col-lg-2 col-md-2 col-sm-2 col-xs-4">
	<a href="http://www.mariocaiti.com">
	<img src="images/WebPelican.jpg" height="100" width="70" />
	</a>
	</div>
	<div class="row, col-lg-10 col-md-10 col-sm-10 col-xs-8">
	<center>{{intro}}<br>
	<h2>
		<span>OK, let's get started!</span></center>
	</h2>
	</div>
</header>
<div id='calc' class='calc' ng-controller='mainController'>
	<div ng-controller='mainController'>
		<div id="enterSalary" class="col-lg-2 col-md-2 col-sm-12">
			<label>What do you make weekly?</label>
			<input type='number' 
				ng-model='enterSalary' 
				ng-model-options="{updateOn: 'blur'}" />
			<button ng-show="enterSalary>0" ng-click="write_SalAcknowlegemt(enterSalary); showExpenses=true">&#x25BA;</button>
		</div>
		<div id="enterExpenses" class="col-lg-6 col-md-6 col-sm-12, enterExpenses" 
			ng-show="showExpenses">
			<span ng-bind="myPlan.salary | currency"></span><span ng-bind="acknowledgement"></span>
			<br>Now we need a breakdown of what you spend on a <em>weekly</em> basis. Just divide your monthly bill by 4.<br>
		
			<div ng-repeat="t in myPlan.expenses">
				<ng-form name="updateExpense">
					<label>{{t.label}}</label>
					<input
						type='number' step="0.01" min="0" 
						ng-model="t.value"
						ng-model-options="{updateOn: 'blur'}" 
						ng-change="myPlan.setExpenseAmt(t, t.value); myPlan.makeBudget()"/>
					<span
						ng-bind="t.value | currency"></span><br>
				</ng-form>
			</div>
			-----------------------------------------<br>
			Weekly expenses: <span ng-bind="myPlan.setWeeklyExpenses() | currency"></span><br>
			<button ng-show="myPlan.setWeeklyExpenses() > 0" ng-click="showGoals=true">&#x25BA;</button><br>
		</div>
		<div id="enterGoals" class="col-lg-4 col-md-4 col-sm-12, enterGoals" ng-show="showGoals">
			Then we are starting with a weekly budget of
			<span ng-bind="myPlan.makeBudget() | currency"></span>
			to work with.
			<br>
			What are you saving and budgeting for? (Please enter a <b><em>weekly</em></b> estimate, clicking the button to move on ;))
			<br>
			<div ng-repeat="g in myPlan.goals">	
				<ng-form name="enter{{g.name}}Budget" class="enter{{g.name}}Budget">
					<label ng-bind="g.label"></label>:
					<input type='number' step="0.01" min="0"
						ng-model='g.value'
						ng-model-options="{updateOn: 'blur'}"/>
					<submit ng-click="myPlan.setGoal(g.value, g.action)">
						&#x25BA;
					</submit>
				</ng-form>
			</div>
			What else? (we are working on this)
				<!-- dynamic labels (graph from scratch!) here adjust to weekly budgeting -->
		</div>
		<div id="goalsChart" 
			class="row, col-lg-12 col-md-12 col-sm-12 col-xs-12, goalsChart" 
			style="height:1vh;"	
			ng-show="showGoals"><!-- {{myPlan.weeklyBudget / 56| number:0}} -->
			<div ng-repeat="r in myPlan.goals">
				<div id="{{r.chartName}}" 
					class="col-lg-1 col-md-1 col-sm-1 col-xs-12, {{r.chartName}}" > 
					<p style="font-size:{{r.value / 48 | number:0}}em; top:-{{(r.value / 7) + (r.value / 48)| number:0}}vh">
						{{r.value | currency}} +
					</p> 
					<div style="max-height:{{0.1 + (r.value / 7) | number:1}}vh"></div>
				</div>
				<div class="visible-xs">
					<br>
				</div>
			</div>
			<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12"> 
				<p ng-bind=" ' = ' + (myPlan.makeBudget() | currency)" style="font-size:{{myPlan.makeBudget() / 56 | number:0}}em;"></p>
			</div>
		</div>
	</div>	<!-- end mainController div-->
</div>		<!-- end calc div-->
	
<br><br><br><br>

<!-- TODO Paypal link, SAVE BUTTON -->

<footer id="myFooter" class="row, col-lg-12 col-md-12 col-sm-12 col-xs-12">
	<br><b>So WTF is this?</b>
	<p>I write versions of this calculator to learn a new language or platform, and this season AngularJS and Bootstrap are in.</p> 
	<p>I've also written this in
		<a data-toggle="modal" data-target="#pyPopup">
			Python
		</a> 
	and <a href="clips/VisualiseIt_03.swf" target="_blank">Actionscript 3. Flash? Yes, Flash</a>.</p>
	<br><b>UPDATED April 1 2016</b>. No foolin'... 
	<p>I remodeled the infrastructure to be factory class based and updated the graph to reflect a more modern Angular+CSS style. </p>
	<br><b>UPDATED AGAIN February 20, 2017</b><br>
	<p>A full front end cleanup to improve performance and make it prettier on my phone and Macbook. I like Google Fonts. :)<br> 
	The animations favor the Bootstrap and good old CSS transitions over the Angular transitions that don't sync with my old Bizland server.
	<br>Therefore, I may need to put this on Heroku to demonstrate my nodeJS capabilities.</p>
	<p>I also fixed some bugs in the object factory that were making it pretty user unfriendly, which is always bad.</p>
	<br><br>
	<p>If you don't like to click View Source you can review my <a href="https://github.com/mariocaiti/my-code-portfolio">Github</a>. 
	I'll update this there soon. :) I've got lots of stuff there in various states of completion.
	<br>I look forward to doing Java for Android and Swift for iOS next.</p>
	<br><a href="http://mariocaiti.com/dev" target="_blank">Go Home</a>
	<!-- python code modal	-->
	<div class="modal fade" id="pyPopup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog" role="document">
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="clearStage()"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title" id="myModalLabel">Visualize It in Python</h4>
		  </div>
		  <div class="modal-body">
			<div id="pyCode" class="pyCode">
				<code>
				Actually, I'm revamping this with a properly routed single page app and SQL storage of your results. It's coming soon, because Python is great like that.
				</code>
			</div>
		  </div>
		  <div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal" onclick="clearStage()">Close</button>
		  </div>
	   </div>	<!-- /.modal-content -->
	  </div>	<!-- /.modal-dialog -->
	</div>
</footer>

</body>
</html>