.enterExpenses, .showGoals, .enterGoals, .goalsChart					{
	-moz-animation: fadein 2s linear all;
		-ms-animation:fadein 2s linear all;
		-o-animation:fadein 2s linear all;
		-webkit-animation:fadein 2s;
		animation:fadein 2s; 
}
@keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}

/* Firefox */
@-moz-keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}

/* Safari and Chrome */
@-webkit-keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}​

/* Opera */
@-o-keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}

.enterExpenses.ng-show, .showGoals.ng-show, .goalsChart.ng-show {
	display:block!important; 		/*	to enable slide in effect in mobile	*/
}
.enterExpenses.ng-hide, .showGoals.ng-hide, .goalsChart.ng-hide { 
	opacity: 0;
}
p, label					{
	font-family: 'Open Sans', sans-serif;
	font-size: 0.9em;
}
label:hover			{
	font-weight: bold;
}
input						{
	width:12vw;
}
.goalsChart			 {
	text-align: right;	
	padding: 3px;
	margin: 1px;
}
.enterHomeBudget, .houseBudgetResult		{
	background-color:#defdaa;
}
.enterRideBudget, .rideBudgetResult			{
	background-color:#acaadb;
}
.enterClassesBudget, .classesBudgetResult	{
	background-color:#dfdaaa;
}
.enterVacBudget, .vacBudgetResult			{
	background-color:#acdadb;
}
.enterSocBudget, .socBudgetResult			{
	background-color:#ddaadd;
}
.enterEnterBudget, .enterBudgetResult		{
	background-color:#abdccd;
}
.enterWeddingBudget, .weddingBudgetResult	{
	background-color:#aaadec;
}
.enterGymBudget, .gymBudgetResult			{
	background-color:#dfdcbf;
}
.enterNerdBudget, .nerdBudgetResult			{
	background-color:#dedcde;
}
/* 

p					{
	font-family: 'Open Sans', sans-serif;
	text-align: right;	
	
	-moz-transition: 4s;
	-ms-transition: 4s;
	-o-transition: 4s;
	-webkit-transition: 4s;
	transition: 4s; 
}
 */

/*.ui-icon{
	background-image: url(http://code.jquery.com/mobile/1.1.0/images/icons-18-black.png);
}*/
.footer				{
	position: absolute;
	bottom: 0px !important;
	padding: 3px;
	margin: 10px;
	opacity:0;
}
.showPyButton		{
	background-color:#aaffaa;
}
